In [1]:
#hello, pls, comment cells of this notebook

Прокомментируйте ячейки ноутбука
и напишите функцию, которая которая возвращает значение 2x sin(x^2)

In [2]:
import math

In [4]:
sqrt(2)

NameError: name 'sqrt' is not defined

In [5]:
math.sqrt(2)

1.4142135623730951

In [6]:
x=3

In [7]:
'hello'

'hello'

In [8]:
#comment for the code

### '%d ttt' % 3

In [9]:
x=[1,2,3,4]

In [10]:
len(x)

4

In [11]:
x[-1]

4

In [12]:
x+x

[1, 2, 3, 4, 1, 2, 3, 4]

### x*3

In [13]:
3*x

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [14]:
y={'harry':'potter'}

In [15]:
y['harry']

'potter'

In [16]:
{1:2}

{1: 2}

In [17]:
[1]

[1]

In [18]:
y
y
y

{'harry': 'potter'}

In [19]:
y0=0
for i in [0,1,2]:
    #y0+=i
    y0=+i
y0

2

In [20]:
x=[1,2,3]
y=[]
for x1 in x:
    y.append(x1*2)
y

[2, 4, 6]

In [21]:
[2*x1 for x1 in x]

[2, 4, 6]

In [22]:
def myfunction (a): # ,b,c):
    return a*2
myfunction(4)

8

In [23]:
type(x1)

int

In [24]:
u "rt"

SyntaxError: invalid syntax (<ipython-input-24-055b54c4ab12>, line 1)

In [25]:
"rt"

'rt'

In [26]:
%timeit 2+2

7.65 ns ± 0.991 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [28]:
?sorted

In [29]:
sorted([1,2,3,4,5],reverse=True)

[5, 4, 3, 2, 1]

In [30]:
#fib recursive
def fib_1(n):
    #print(n)
    if n<2:
        return n
    else:
        return fib_1(n-2)+fib_1(n-1)
fib_1(20)

6765

In [31]:
#fib loop
def fib_2(n):
    #a=0
    #b=1
    a,b=[0,1]
    for i in range(n):
        a,b=b,a+b
        #tmp=b
        #b=a+b
        #a=tmp
    return a
fib_2(20)

6765

In [32]:
fs=[]
for i in range(20):
    fs.append(fib_2(i))
fs

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [33]:
[fib_1(i) for i in range(20) ]

[0,
 1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181]

In [34]:
def largest_e(xs):
    xx=sorted(xs)
    return xx[-1]
xs=[9,2,5,1,7]
[largest_e(xs), sorted(xs)]

[9, [1, 2, 5, 7, 9]]

In [35]:
sorted(xs)

[1, 2, 5, 7, 9]

In [36]:
%timeit fib_2(33)

1.94 µs ± 108 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [37]:
%timeit fib_1(33)

1.24 s ± 75 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [38]:
def largest(x):
    return  2*x*math.sin(x**2)

In [40]:
largest(2)

-3.027209981231713